
.container-sec-project-info {
    height: auto;
}
.project-info-title {
    padding: 0 80px;
    margin: 15px 0;
}
.project-info-title h1 {
    color: #000;
    text-align: center;
    margin: 20px 0;
}
.project-info-title p {
    text-align: center;
    margin: 20px 0;
    padding: 0 150px;
    color: rgb(54, 54, 54);
}
.project-info-content {
    margin-top: 30px;
}
.project-info-content li {
    color: rgb(54, 54, 54);
}

.project-info-content h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #000;
}
.project-info-facility {
    background-color: rgba(8, 8, 8, 0.452);
    padding: 30px 10px;
    width: 100%;
}
.facility-container {
    margin: 0 16vw;
}
.project-info-facility h3 {
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
}
.project-info-content .facilitiy-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(43, 43, 43, 0.315);
    color: #fff;
    border: 1px solid #fff;
    margin: 10px 0;
    height: 135px;
}
.project-info-content .facilitiy-single h4 {
    text-align: center;
    font-size: 16px;
}
.project-info-content .facilitiy-single img {
    width: 75%;
}
.project-info-content .facilitiy-row {
    display: flex;
    justify-content: center;
}
.project-info-spec {
    background-color: rgba(223, 223, 223, 0.788);
    padding: 50px 80px;
}
.project-info-spec .info-spec-sec {
    padding: 0 100px;
}
.project-info-spec .info-spec-sec h3 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(9, 109, 18);
}
/* .project-info-spec .info-spec-sec p {
    color: rgb(12, 102, 20);
} */
.project-info-img-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-info-ul-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}
.project-info-ul-sec h5 {
    color: rgb(9, 109, 18);
    font-weight: 600;
    margin: 10px 0;

}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 18px;
  }
  ul {
    list-style: none; /* Remove default bullets */
  }

.project-info-img {
    width: 50%;
    max-width: 100%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1366px) {
    .container-sec-project-info {
        height: auto;
    }
}

@media only screen and (max-width: 475px) {
    .project-info-title {
        padding: 0 20px;
        margin-bottom: 25px;
    }
    .project-info-title p {
        text-align: center;
        margin: 20px 0;
        padding: 0 15px;
        color: rgb(54, 54, 54);
    }    
    .project-info-img {
        width: 100%;
    }
}