.back-handler-container {
    display: flex;
    align-items: center;
    justify-content: start;
    /* width: 100%; */
    /* background-color: red; */
    position: absolute;
    top: 100px;
    left: 15px;
}

.back-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-back-btn {
    width: 32px;
    height: 32px;
}
.back-icon-container:hover {
    /* box-shadow: rgb(0 0 0 / 20%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px; */
    cursor: pointer;
    /* transition: .3s; */
    /* transform: scale(1.2); */
    /* transform: translateX(0px) translateY(75px); */
}
.back-icon-container span {
    opacity: 1;
    padding-left: 7px;
    transition: all 200ms ease-in-out;
}

.back-icon-container:hover span {
    opacity: 1;
    padding-left: 13px;
    transform: scale(1.1);
    color: #000;
}