.admin-inventory-card-container {
    background: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
}
.admin-inventory-card-container h5 {
    margin-right: 25px;
}
.admin-inventory-single-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    /* background-color: red; */
    margin: 0 5px;
    color: #d7d7d7;
}
/* .admin-inventory-single-block:hover {
    background-color: #242424 !important;
    color: #fff !important;
    cursor: pointer;
} */


@media only screen and (max-width: 475px) {
    .admin-inventory-card-container h5 {
        margin-right: 20px;
        width: max-content;
        /* color: #000; */
    }
    .project-home-menu {
        flex-direction: column;
        padding: 20px 15px;
        overflow-x: scroll;
    }
}